*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: #0d1a2d;
}

img {
  display: block;
  max-width: 100%;
}

.main-img {
  border-radius: 1em;
  z-index: -1;
}

.view-icon {
  opacity: 0.5;
  transition: all 0.15s ease;
}

.view-icon:hover {
  opacity: 1;
}

.avatar {
  width: 2rem;
  border: 1px solid white;
  border-radius: 50%;
}

hr {
  border-color: #2f4159;
}

h1 {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

h1:hover,
h1:focus,
.name:hover,
.name:focus {
  color: #00fdfb;
}

.description,
.right p,
.card-bottom p {
  color: #8bacd7;
}

.ethereum-text {
  color: #00fdfb;
}

.name {
  color: white;
  transition: all 0.15s ease;
  cursor: pointer;
}

.card {
  background-color: #15273f;
  max-width: 50%;
  margin-inline: auto;
  padding: 1em 1.5em;
  border-radius: 1em;
}

@media screen and (max-width: 900px) {
  .card {
    max-width: 80%;
  }
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right,
.card-bottom {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.img-container {
  cursor: pointer;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 255, 247, 0.5);
  opacity: 0;
  display: grid;
  place-content: center;
  border-radius: 1em;
  z-index: 1;
  transition: all 0.2s ease;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover + .view-icon {
  opacity: 1;
}
